.bg-green {
	background-color: #00cc00;
}

.bg-red {
	background-color: #ff0000;
}

.bg-blue {
	background-color: #0066ff;
}

.bg-black {
	background-color: #000000;
}

.bl-h1 {
	height: 400px;
}

.bl-h2 {
	height: 300px;
}

.bl-h3 {
	height: 200px;
}

.bl-h4 {
	height: 100px;
}

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.col-3, .col-sm-6, .col-md-3,.col-md-4, .col-md-6, .col-lg-3 {
	position: relative;
	width: 100%;
	min-height: 1px;
}

.col-3 {
	float: left;
	max-width: 25%;
}

@media (min-width: 576px) {

.col-sm-6 {
	float: left;
	max-width: 50%;
  }

  }
  
  /* Медиа-запросы для отмены обтикания слева*/
  @media (min-width: 576px) and (max-width: 767px) {
  
  .row div:nth-child(3) {
		clear: left;
	}
  
  }
  
  @media (min-width: 576px) and (max-width: 767px) {
  
  .row div:nth-child(5) {
		clear: left;
	}
  
  }
  
   @media (min-width: 576px) and (max-width: 767px) {
  
  .row div:nth-child(7) {
		clear: left;
	}
  
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
  
  .row div:nth-child(4) {
		clear: left;
	}
  
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
  
  .row div:nth-child(7) {
		clear: left;
	}
  
  }
  
  @media (min-width: 992px) {
  
  .row div:nth-child(5) {
		clear: left;
	}
  
  }
  
@media (min-width: 768px) {
	
.col-md-3 {
	float: left;
	max-width: 25%;
}

.col-md-4 {
	float: left;
	max-width: 33.333333%;
}

.col-md-6 {
	float: left;
	max-width: 50%;
}

}

@media (min-width: 992px) {
	
.col-lg-3 {
	float: left;
	max-width: 25%;
}
	
}

.container {
	max-width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.head {
	background-color: #D2D1D1;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.mx-3 {
	margin-left: 15px;
	margin-right: 15px;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.text-center {
	text-align: center;
}

.text-white {
	color: #fff5fe;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2.5rem;
}

p {
	font-family: Georgia, 'Times New Roman', Times, serif;
}